#main_menu{
    position: fixed;
    z-index: 777;
    right: 5px;
    top:5px;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #c90090;
}

#menu_list{
    background: rgba(0,0,0,.7);
}