<div id="map" style="height:100vh;">
  <div class="google-map-address">
    <h4 v-on:click="openAuto('start')">
      <span> {{ start }} </span>
    </h4>
    <h4 v-on:click="openAuto('stop')">
      <span> {{ stop }} </span>
    </h4>

    <br />
    <br />

    <div
      v-show="showinfo"
      style="cursor:pointet;"
      class="text-highlight highlight-dark"
      @click="showinfo = false"
    >
      {{ trans.map.texts.blocks.warning }}
    </div>
  </div>

  <!--Order card-->
  <div
    class="google-map-complete over"
    v-if="MapOrder != null && MapOrder.price != null "
  >
    <div class="card" style="width: 100%;height: 100vh;">
      <!--Order card-->

     
      
      <h1 style="display:block;padding-top:35px; text-align:center;">
          {{ trans.order.input.attr.value.order }}
          <i style="cursor:pointer;" @click="MapOrder.price = null" class="fa fa-times"></i>
        </h1>
      <div class="timeline">
        <div class="timeline-decoration" style="height:96%;"></div>
        <div class="timeline-item">
          <div class="timeline-icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="timeline-text no-bottom">
            <h3 class="title">{{ trans.order.texts.title.start }}</h3>
            <p>{{ MapOrder.start }}</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="timeline-text no-bottom">
            <h3 class="title">{{ trans.order.texts.title.stop }}</h3>
            <p>{{ MapOrder.stop }}</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon"><i class="fas fa-euro-sign"></i></div>
          <div class="timeline-text no-bottom">
            <h3 class="title">{{ trans.order.texts.title.price }}</h3>

            <p>{{ MapOrder.price }} <strong>EUR</strong></p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon"><i class="far fa-clock"></i></div>
          <div class="timeline-text no-bottom">
            <h3 class="title">{{ trans.order.texts.title.period }}</h3>
            <p>
              {{ (MapOrder.duration / 60).toFixed(2) }} <strong>min</strong>
            </p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon"><i class="fas fa-spinner"></i></div>
          <div class="timeline-text no-bottom no-bottom">
            <h3 class="title">{{ MapOrder.driver_await }}</h3>
            <p>13</p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-icon">
            <i class="fa fa-road" aria-hidden="true"></i>
          </div>
          <div class="timeline-text no-bottom ">
            <h3 class="title">{{ (MapOrder.distance / 1000).toFixed(2) }}</h3>
            <p>13 <strong>Km </strong></p>
          </div>
        </div>
      </div>

      <p>
      <a href="#" @click="MakeOrder()" class="button button-orange full-button">
        <i class="fas fa-check"></i>{{ trans.order.input.attr.value.order }}</a
      ></p>

   
     
      <span
        class="text-highlight highlight-dark"
        style="padding:5px; text-align: center; display:block;"
      >
        {{ trans.order.texts.block.important }}
      </span>
      <!--Order card-->
    </div>
  </div>
  <!--Order card-->
  <div v-show="editValue" class="google-map-complete">
    <br />
    <br />
    <br />
    <i class="fa fa-times" @click="editValue = null " aria-hidden="true"></i>

    <input
      type="search"
      v-model="editValue"
      id="autoAddress"
      class="login-username"
    />
  </div>

  <div class="google-map-order" v-show="points.stop">
    <p>
      <a
        href="#"
        @click="GetDirections()"
        class="button button-orange full-button"
      >
        <i class="fa fa-question"></i> {{ buttonInfo }}</a
      >
    </p>
  </div>

  <div id="gmap" style="position:relative!important;height:100vh"></div>
</div>
<script>
  app.pages.map = new Vue({
    el: "#map",
    data: {
      trans: trans,
      buttonInfo: trans.map.links.order,
      points: {
        start: null,
        stop: null
      },
      MapOrder: null,
      marker: {},
      map: null,
      drivers: [],
      distance: null,
      duration: null,
      polyline: null,
      edit: null,
      showinfo: true,
      editValue: null,
      start: trans.map.input.attr.placeholder.start,
      stop: trans.map.input.attr.placeholder.stop
    },
    methods: {
      init() {
        this.map = new google.maps.Map(document.getElementById("gmap"), {
          center: this.points.start.location,
          zoom: 17,
          disableDefaultUI: true
        });
        this.initmarker();
        this.SetDriverOnMap();
      },

      initmarker() {
        this.marker.start = new google.maps.Marker({
          map: this.map,
          position: this.points.start,
          draggable: true,
          icon: "img/icon.png"
        });
        this.marker.stop = new google.maps.Marker({
          map: this.map,
          draggable: true,
          icon: "img/icon.png"
        });

        this.LocationByMarker("start");
        this.map.setCenter(this.points.start);
        let self = this;
        for (const key in this.marker) {
          google.maps.event.addListener(this.marker[key], "dragend", function(
            event
          ) {
            let location = { lat: event.latLng.lat(), lng: event.latLng.lng() };
            self.points[key] = location;
            self.LocationByMarker(key);
          });
        }
      },

      LocationByMarker(key) {
        let self = this;
        this.geocoder = this.geocoder || new google.maps.Geocoder();
        this.geocoder.geocode({ location: self.points[key] }, function(
          results,
          status
        ) {
          if (status === "OK" && results[0]) {
            self.SetAddress(key, results[0].formatted_address);
          }
        });
      },

      SetDriverOnMap() {
        for (var i = 0; this.drivers[i]; i++) {
          this.drivers[i].setMap(null);
        }

        // clear old driver
        Api.PostData("/driver", this.points.start).then(e => {
          if (e.action === true) {
            e.points.forEach(element => {
              let driver = new google.maps.Marker({
                map: this.map,
                position: element,
                icon: "img/car.png"
              });
              this.drivers.push(driver);
            });
          }
        });
      },
      MakeOrder() {
        ManageOrder.OrderAssing(this.MapOrder);
        ManageOrder.SendOnServer();
        ManageOrder.Timer();
        Nav.Set("page|already_have_order");
      },
      SetupAuto(edit) {
        var autocomplete = new google.maps.places.Autocomplete(
          document.getElementById("autoAddress")
        );
        autocomplete.bindTo("bounds", this.map);
        autocomplete.setFields([
          "address_components",
          "geometry",
          "icon",
          "name"
        ]);

        var bindTo = edit;
        var self = this;

        autocomplete.addListener("place_changed", function() {
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            return;
          }

          if (place.geometry.viewport) {
            self.map.fitBounds(place.geometry.viewport);
          } else {
            self.map.setCenter(place.geometry.location);
          }

          let address = "";
          if (place.address_components) {
            address = [
              (place.address_components[0] &&
                place.address_components[0].short_name) ||
                "",
              (place.address_components[1] &&
                place.address_components[1].short_name) ||
                "",
              (place.address_components[2] &&
                place.address_components[2].short_name) ||
                ""
            ].join(" ");
          }

          self.points[bindTo] = {
            lat: place.geometry.location.lat(),
            lng: place.geometry.location.lng()
          };

          self[bindTo] = `${address} `;
          self.SetMarker(bindTo);
          self.edit = null;
          self.editValue = null;
        });
      },

      openAuto(key) {
        this.edit = this[key];
        this.editValue = " ";
        //this.map.setCenter(this.points[key].location);
        this.SetupAuto(key);
      },

      SetAddress(key, val) {
        this[key] = val;
      },

      SetMarker(arg) {
        this.marker[arg].setPosition(this.points[arg]);
        if (arg == "start") {
          this.SetDriverOnMap();
        }
      },

      GetDirections() {
        if (!ManageOrder.Finished()) {
          ManageOrder.RedirectByStatus();
        }
        var self = this;
        let directionsService = new google.maps.DirectionsService();

        directionsService.route(
          {
            origin: `${this.points.start.lat},${this.points.start.lng}`,
            destination: `${this.points.stop.lat},${this.points.stop.lng}`,
            travelMode: "DRIVING", //BICYCLING
            drivingOptions: {
              departureTime: new Date(/* now, or future date */),
              trafficModel: "optimistic"
            }
          },
          function(response, status) {
            if (status === "OK") {
              self.MapOrder = Order;
              self.MapOrder.distance = 0;
              self.MapOrder.duration = 0;
              self.MapOrder.polyline = response.routes[0].overview_polyline;
              self.MapOrder.start = self.start;
              self.MapOrder.stop = self.stop;

              const legs = response.routes[0].legs;
              for (var i = 0; i < legs.length; ++i) {
                self.MapOrder.distance += legs[i].distance.value;
                self.MapOrder.duration += legs[i].duration.value;
              }

              const sendData = {
                distance: self.MapOrder.distance,
                duration: self.MapOrder.duration,
                address: self.start
              };

              Api.PostData("price", sendData).then(result => {
                if (result.action === true) {
                  self.MapOrder.points = self.points;
                  self.MapOrder.price = result.data.price;
                  self.MapOrder.driver_await = result.data.driver_await;
                } else {
                  self.buttonInfo = trans.gmap.texts.error;
                }
              });
            } else {
              self.buttonInfo = trans.gmap.texts.error;
            }
          }
        );
      }
    },
    mounted: function() {
      const getCurrentPosition = function() {
        if (navigator.geolocation) {
          return new Promise((resolve, reject) =>
            navigator.geolocation.getCurrentPosition(resolve, reject, {
              enableHighAccuracy: true
            })
          );
        } else {
          return new Promise(resolve => resolve({}));
        }
      };

      getCurrentPosition()
        .then(done => {
          this.points.start = {
            lat: done.coords.latitude,
            lng: done.coords.longitude
          };
        })
        .catch(error => {
          console.log(error);
        })
        .finally(e => {
          this.init();
        });
    }
  });
</script>

<style>
  .google-map-address {
    position: absolute;
    width: 100%;
    z-index: 99;
    padding: 10px;
    margin-top: 10%;
  }
  .google-map-address h4 {
    cursor: pointer;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-bottom: 10px;
    color: #000;
  }
  .google-map-complete {
    position: absolute;
    width: 100%;
    z-index: 199;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.99);
    height: 100vh;
  }

  .google-map-order {
    position: fixed;
    width: 100%;
    z-index: 288;
    padding: 10px;
    bottom: 20px;
  }
  .over {
    z-index: 400 !important;
  }
  #autoAddress {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  }
</style>
